@import "tailwindcss";

@theme {
  --font-sans: var(--font-urbanist), ui-sans-serif, system-ui, sans-serif;

  --color-main-dark: #0D112A;
  --color-brand-green: #58A07A;
  --color-placeholder: #858585;
  --color-border-input: rgba(127, 127, 127, 1);

  --background-image-brand-gradient: linear-gradient(130.27deg, #3B6E57 -6.09%, #72D4A8 127.58%);


  --background-image-brand-hover: linear-gradient(0deg, rgba(59, 110, 87, 1), rgba(59, 110, 87, 1));

  --background-image-brand-focus: linear-gradient(130.27deg, #3B6E57 -6.09%, #1E935E 127.58%);
}

@utility btn-primary {
  @apply relative isolate px-6 py-3 rounded-lg text-white font-semibold transition-transform duration-300 cursor-pointer inline-block overflow-hidden border border-transparent;

  background: transparent;

  &::after {
    content: "";
    @apply absolute inset-0 -z-20 transition-all duration-300;
    background-color: #3B6E57; 
  }

  &::before {
    content: "";
    @apply absolute inset-0 -z-10 transition-opacity duration-300 ease-in-out;
    background-image: var(--background-image-brand-gradient);
    opacity: 1;
  }

  &:hover::before {
    opacity: 0;
  }

  &:active {
    border-color: rgba(4, 220, 123, 1);
  }

  &:active::after {
    background-image: var(--background-image-brand-focus);
  }
  
  &:active::before {
    opacity: 0;
  }
}

@utility btn-white {
  @apply px-6 py-3 rounded-lg font-semibold transition-all duration-300 border-none cursor-pointer inline-flex items-center justify-center shadow-md;
  
  background-color: white;
  color: var(--color-brand-green);

  &:hover {
    @apply scale-105 shadow-lg;
    background-color: #f9fafb; 
  }

  &:active {
    @apply scale-95 opacity-90;
  }
}

@utility nav-link {
  @apply font-sans font-semibold text-[14px] transition-all duration-300;
  
  color: var(--color-main-dark);
  line-height: 17px;

  &:hover {
    background-image: var(--background-image-brand-gradient);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@layer base {
  ::placeholder {
    color: var(--color-placeholder);
  }
}